.station-search-form {
    display: inline-flex;
  }
  .search-group {
    display: flex;
    align-items: center;
  }
  .search-input {
    margin-right: 1rem;
    padding: 5px;
    text-align: center;
  }
  .search-group p {
    font-size: 14px!important;
    margin: .5rem;
  }
  
  input::placeholder {
    text-align: center;
  }
  
  .submit-btn {
    /* font-size: 14px!important; */
    margin: .5rem 0!important;
    padding: 5px 10px !important;
    background-color: white!important;
    cursor: pointer;
  }