* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: auto;
  padding: 25px 100px;

  color: white;
}

.App-link {
  color: #61dafb;
}

.station-search-form {
  display: inline-flex;
}
.search-group {
  display: flex;
  align-items: center;
}
.search-input {
  margin-right: 1rem;
  padding: 5px;
}
.search-group p {
  font-size: 14px!important;
  margin: .5rem;
}

input::placeholder {
  text-align: center;
}

.submit-btn {
  /* font-size: 14px!important; */
  margin: .5rem 0!important;
  padding: 5px 10px !important;
  background-color: white!important;
}

.bar-chart {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
