/* Colors */
/* Fonts */
/* Module Export */
:export {
  text: rgb(0, 18, 25);
  textLight: rgb(255, 255, 255);
  primary: rgb(18, 130, 151);
  primaryDark: rgb(0, 85, 105);
  primaryLight: rgb(148, 210, 189);
  secondary: rgb(238, 155, 0);
  secondaryDark: rgb(202, 103, 2);
  secondaryLight: rgb(233, 216, 166);
  tertiary: rgb(174, 32, 18);
  tertiaryDark: rgb(155, 34, 38);
  quaternary: rgb(67, 160, 71);
  quaternaryDark: rgb(27, 94, 32);
  quinary: rgb(142, 36, 170);
  quinaryDark: rgb(74, 20, 140);
}

.station-search-form {
  display: inline-flex;
}

.search-group {
  display: flex;
  align-items: center;
}

.search-input {
  margin-right: 1rem;
  padding: 5px;
  text-align: center;
}

.search-group p {
  font-size: 14px !important;
  margin: 0.5rem;
}

input::placeholder {
  text-align: center;
}

.submit-btn {
  /* font-size: 14px!important; */
  margin: 0.5rem 0 !important;
  padding: 5px 10px !important;
  background-color: white !important;
}

canvas {
  height: 350px;
}

div#metrics {
  width: 800px;
  margin: auto;
  margin-top: 1rem;
}
